<div class="">
  <p>this in main.html</p>
</div>

<!-- map view  -->
<!-- <div id="map" class="map" ng-view="largeMap()"></div> -->
<p>
  {{tab}}
</p>
  <!-- the trigger -->
  <a href ng-click="open()" data-target="modalDetails" class="modal-trigger title"> test</a>
<!-- Demo modal  -->
<div id="modalDetails" class="modal bottom-sheet" modal="showModal" close="cancel()">
    <button type="button" name="button" ng-click="modalClose()" data-dismiss="modal"></button>
        <div class="modal-content">
            <div class="row">

                <div class="l10 col">
                    <h2>d</h2>
                    <label>Email</label> 5 <br/>
                    <label>Password</label> d
                    <hr>
                </div>
            </div>
        </div>
    </div>
